body { padding-bottom: 20px; }
.card-header { font-weight: bold; }

body { font-family: 'Arial', sans-serif; }

.card { border-radius: 20px; }

.btn-primary:hover { background-color: #d01da6; }

@media (max-width: 600px) { .ocultar-movil { display: none; } }